In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import re

#### Import the data and get a high-level picture

In [2]:
df = pd.read_csv('sales.csv')
df.head()

,order_id,name,ordered_at,price,quantity,line_total
0,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,$3.50,3,$10.50
1,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,$3.50,1,$3.50
2,10001,"""SORBET"" Raspberry",2018-01-01 12:14:54,$2.50,2,$5.00
3,10001,NaN,2018-01-01 12:14:54,$1.50,1,$1.50
4,10001,"""CONE"" Dipped Waffle Cone",2018-01-01 12:14:54,$3.50,1,$3.50

In [3]:
df.shape

(29922, 6)

In [4]:
df.dtypes

order_id       int64
name          object
ordered_at    object
price         object
quantity       int64
line_total    object
dtype: object

#### TODO: Fix column datatypes

Change ordered_at to datetime

Change price and line_total to float

In [5]:
df['ordered_at'] = pd.to_datetime(df['ordered_at'])

In [6]:
df['price'] = df['price'].apply(lambda row: row.strip("$")).astype(float)
df['line_total'] = df['line_total'].apply(lambda row: row.strip("$")).astype(float)

In [7]:
df.dtypes

order_id               int64
name                  object
ordered_at    datetime64[ns]
price                float64
quantity               int64
line_total           float64
dtype: object

#### TODO: drop if duplicated or null

In [8]:
df[df.duplicated()].shape[0]

538

In [9]:
df = df.drop_duplicates()

In [10]:
df.isnull().sum()

order_id         0
name          1481
ordered_at       0
price            0
quantity         0
line_total       0
dtype: int64

In [11]:
df[df['name'].isnull()].head()

    order_id name          ordered_at  price  quantity  line_total
3      10001  NaN 2018-01-01 12:14:54    1.5         1         1.5
6      10002  NaN 2018-01-01 12:23:09    3.0         3         9.0
27     10007  NaN 2018-01-01 15:03:17    2.5         1         2.5
77     10026  NaN 2018-01-02 03:25:40    0.5         2         1.0
88     10031  NaN 2018-01-02 05:45:48    3.5         3        10.5

In [12]:
df = df.dropna()

#### Sanity check for value ranges and to check assumptions

In [13]:
df[(df['price'] * df['quantity']) != df['line_total']].shape[0]

28

In [14]:
df[df['line_total'] < 0].shape[0]

279

#### TODO: 
Set line_total = price * quantity if different
Remove if line total < 0

In [15]:
df = df[(df['price'] * df['quantity']) == df['line_total']]

In [16]:
df = df[df['line_total'] >= 0]

In [17]:
df.describe()

           order_id         price      quantity    line_total
count  27596.000000  27596.000000  27596.000000  27596.000000
mean   14993.365995      2.511596      2.000833      5.028845
std     2888.622150      1.059402      0.819472      3.085841
min    10000.000000      0.500000      1.000000      0.500000
25%    12499.000000      1.500000      1.000000      2.500000
50%    14972.500000      2.500000      2.000000      4.500000
75%    17506.250000      3.500000      3.000000      7.500000
max    19999.000000      4.000000      3.000000     12.000000

#### TODO: Get value between "" in name and put it in category column

In [18]:
df2 = df['name'].apply(lambda x: re.findall(r'^"([A-Z ]+)" (.*)', x)[0])
df2.head()
#Same steps in one line of code 
df[['category','name']] =  df['name'].apply(lambda x: re.findall(r'^"([A-Z ]+)" (.*)', x)[0]).apply(pd.Series)

In [19]:
df3 = pd.DataFrame(df2.tolist(), index = df.index, columns = ['category','name'])
df3.head()

    category                name
0  ICE CREAM        Peanut Fudge
1  ICE CREAM        Peanut Fudge
2     SORBET           Raspberry
4       CONE  Dipped Waffle Cone
5     SORBET              Lychee

In [20]:
df = df.join(df3['category'])
df.head()

ValueError: columns overlap but no suffix specified: Index(['category'], dtype='object')

In [ ]:
df['name'] = df3['name']
df.head()

In [ ]:
df.head()

#### Analysis, finally!

In [ ]:
f, ax = plt.subplots(figsize=(10, 6))
df.groupby('name')['line_total'].sum().sort_values(ascending=False).head(10).plot(kind='bar'), colour = ['C0','C1','C2']
f.autofmt_xdate()
plt.show()